- name: Configuration all servers
  hosts: all
  become: true

  vars:
    username: deployer
  

  tasks:
    - name: Update and upgrade apt packages
      apt:
        update_cache: yes
        upgrade: yes

    - name: Create deployer user
      user:
        name: "{{ username }}"
        shell: /bin/bash
        groups: sudo
        state: present

    - name: Add authorized key for deployer
      authorized_key: 
        user: "{{ username }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
      

    - name: no password sudo for deployer
      lineinfile:
        path: /etc/sudoers.d/{{ username }}
        line: "{{ username }} ALL=(ALL) NOPASSWD: ALL"
        state: present
        create: yes
        mode: '0440'
        validate: 'visudo -cf %s'

    - name: Disable root login
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin no'
        backup: yes
      notify: Restart ssh

    - name: Unuse ssh password authentication
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        backup: yes
      notify: Restart ssh

  handlers:
    - name: Restart ssh
      service:
        name: ssh
        state: restarted